body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    max-height: 50px;
}

.title {
    margin-left: 20px;
}

nav {
    background-color: #f0f0f0; /* Kolor tła menu */
    padding: 10px;
    text-align: center; /* Wyśrodkowanie pozycji menu */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block; /* Ustawienie pozycji menu w jednym rzędzie */
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #333; /* Kolor tekstu menu */
    text-decoration: none;
    padding: 5px 10px; /* Dodanie paddingu dookoła tekstu menu */
    border-radius: 5px; /* Zaokrąglenie rogów menu */
}

nav a:hover {
    background-color: #ddd; /* Zmiana koloru tła menu po najechaniu kursorem */
}

section.banner {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
}

section.content {
    padding: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
